
<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>
        <span *ngIf="currentUser.id; else elseBlock">{{ originalTitle }}</span>
        <ng-template #elseBlock>Select a User</ng-template>
      </h1>
    </mat-card-title>
  </mat-card-header>
  <form (submit)="saved.emit(currentUser)">
    <mat-card-content>
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Name"
          [(ngModel)]="currentUser.name"
          type="text"
          name="name"
        />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Email"
          [(ngModel)]="currentUser.email"
          type="text"
          name="email"
        />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Role"
          [(ngModel)]="currentUser.role"
          type="text"
          name="role"
        />
      </mat-form-field>
      <section>
        <mat-checkbox [(ngModel)]="currentUser.isActive" name="active">
          active user
        </mat-checkbox>
      </section>
    </mat-card-content>
    <mat-card-actions>
      <button type="submit" mat-button color="primary">Save</button>
      <button type="button" mat-button (click)="cancelled.emit(currentUser)">
        Cancel
      </button>
    </mat-card-actions>
  </form> 
</mat-card>
